@model IEnumerable<DemoGitHub.ViewModels.AlunoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-controller="Alunos" asp-action="Buscar">
    <p>
        Title: <input type="text" name="pesquisa">
        <input type="submit" value="Pesquisa" />
    </p>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AlunoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aniversario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlunoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aniversario)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AlunoId }) |
                @Html.ActionLink("Details", "Details", new { id = item.AlunoId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AlunoId })
            </td>
        </tr>
}
    </tbody>
</table>
